{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "ConnectionStrings": {
    "DatabaseConnectionString": "Server={{ cds_db_server }};Port={{ cds_db_serverdb_port }};Database={{ cds_db_serverdb_database }};User Id={{ cds_db_serverdb_user }};Password={{ cds_db_serverdb_password }};"
  },
  "Toggles": {
      "Nginx":  true 
  }
}
