[
        { rabbit, [
                { loopback_users, [ ] },                
                { ssl_listeners, [ ] },                
                { hipe_compile, false },                
				{tcp_listeners, [5672]}
        ] },
        { rabbitmq_management, [ { listener, [
                { port, 15672 },
                { ssl, false }]},
				{load_definitions, "/etc/rabbitmq/def.json"}
		] }        
].
