<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SubscriptionConnectionString" connectionString="Data Source=localhost,1433;Initial Catalog=Subscription;User ID=sa;Password=4open!4open;Connect Timeout=60" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>