<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SubscriptionConnectionString" connectionString="Server=localhost\SQLSERVER2008;Initial Catalog=Subscription;MultipleActiveResultSets=True;Persist Security Info=True;User ID=sa;Password=!4open" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>